@import url("/fa/css/font-awesome.min.css");

.grid-item {
  float: left;
  width: 50px;
  height: 50px;
  background: #e6e5e4;
  border: 2px solid #b6b5b4;
}

.grid-item--width2 { width: 100px; }
.grid-item--height2 { height: 100px; }

.bandImg{
	max-width: 100%;
	max-height: 100%;
}

body,html,* {margin:0px;}

html{height:100%;width  :100%;}

body{height:100%;width:100%;

}
#home{
	background:url('/images/bg-pic-3.jpg') fixed;
	background-size:cover;
}
#vibe{
	background:url('/images/bg-pic-1.jpg') fixed;
	background-size:cover;
}
#gear{
	background:url('/images/bg-pic-2.jpg') fixed;
	background-size:cover;
}
#contact{
	background:url('/images/bg-pic-3.jpg') fixed;
	background-size:cover;
}
#clients{
	background:url('/images/bg-pic-3.jpg') fixed;
	background-size:cover;
}
#about{
	background:url('/images/bg-pic-6.jpg') fixed;
	background-size:cover;
}
#music{
	background:url('/images/bg-pic-7.jpg') fixed;
	background-size:cover;

}

#uplogo{

	max-width: 100%;
}

.grid-item { width: 25%; }
.grid-item--width2 { width: 50%; }




@font-face{
	font-family:"diehl";
	src:url('css/DIEHLD_.ttf');
}
#slider img{width:300px;}
#nav a{
	display:block;

	margin:4px;
	font-size:1.2em;
	text-decoration:none;
	color:white;
	font-family:'diehl';
}
#nav a:hover{
	color:#fdc733;

}
#nav a:hover:after{
	content:"_";
	color:#fdc733;

}

#nav{background:rgba(0,0,0,.5);
	width:120px;
	color:black;
	height:100%;
	position:fixed;
	top:0px;
	left:0px;

}

#content{
	background:rgba(0,0,0,.85);
	color:white;
	text-align:left;
	background:linear-gradient(45deg,rgba(15,0,0,.8),rgba(0,0,0,.9));
	font-size:1.1em;
	/*max-width:600px;*/
	left:120px;
	margin:auto;
}
.clients ul li{
	list-style-type: none;

}

.clients h2{	font-family:'diehl';	text-align:center;}
.clients ul li h2{
	margin-left:-35px;
	margin-top:20px;
	font-family:'diehl';
}
#content ul li{

	font-family: alegreya, serif;
}
#logo{
	background:rgba(255,255,255,0);

	width:100%;
}
#slider{float:right;}

#form {text-align:center;
	font-family:'diehl';
	text-align:center;
}

#logo-contact{width:400px;}
#form a{
	color:#fff;
	text-decoration:none;
	font-size:.8em;
}
#form a:hover{
	text-decoration:underline;
	text-shadow:0px 0px 2px #F00;
}
#contact .container{margin-bottom:30px;
	margin-top:-10px;
}
.clients ul{margin-left:-10px;}
.clients p{margin-left:30px;}
li .dim{
	margin-left:5px;
	color:#aaa;
	font-size:.9em;

}
#home #cont{
	margin-left:130px;
	margin:auto;
	width:80%;
	display:flex flow;

}
.hmpsq{
	float:left;
	margin:5px;
	width:48%;
	background:linear-gradient(45deg,rgba(44,44,44,.8),rgba(11,11,11,.9));
	border:1px solid rgba(0,0,0,.5);
	box-shadow:1px 1px 2px #000;

}
#menuspacer{
	float:left;
	width:120px;
	min-height:100%;

}
#menu_button{
	display:none!important;
}

@media (max-width:650px ) {
	#menu_button{e
		display:block!important;
		color:white;

	}
	.hmpsq{
		margin:5px;
		width:100%;
		min-width:300px;
		background:linear-gradient(45deg,rgba(44,44,44,.8),rgba(11,11,11,.9));
		border:1px solid rgba(0,0,0,.5);
		box-shadow:1px 1px 2px #000;

	}
	/* NAV MODS FOR RESPONSIVE */

	#home #cont{margin:auto;
		width:100%;}


		#menuspacer{
			height:60px!important;;
			width:0%;
			display:block;
			clear: both;
			pointer-events: none;
		}
		#nav{
			position:static;
			overflow:hidden;
			background:rgba(0,0,0,.8);
			width:100%;
			height:30px;
			transition:height .2s;
			z-index:999999;

		}
/*ul, li {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    }*/

    .fli{
    	display: block;
    	list-style: none;
    	margin: 0;
    	padding: 0;
    	border: solid 5px red;
    	color: red !important;
    }

    .player{
    	width:60% !important;;
    }
    .player div{
    	width:25%;
    	margin:0;
    }



    .videoWrapper {
    	position: relative;
    	padding-bottom: 56.25%; /* 16:9 */
    	padding-top: 25px;
    	height: 0;

    	display:none!imporant;
    }
    .videoWrapper iframe {
    	position: absolute;
    	top: 0;
    	left: 0;
    	width: 100%;
    	height: 100%;
    }
}
